body {background-color: lightblue;}
h1 {	color: white;	margin-left: 20px;	font-size: 40px;}
p {	margin-left: 40px;	font-size: 20px;	font-family: Georgia;}


.header {background-color: red; height: 10vh; width: 100%; font-family: 'Playfair Display', serif;}

.leftcol {background-color: lightblue; height: 80vh; float: left; width: 20%}

.content {background-color: lightgrey; height: 80vh; float: left; width: 60%; font-family: 'Ruslan Display', cursive;}

.rightcol {background-color: lightblue; height: 80vh; float: right; width: 20%}

.footer {background-color: red; height: 10vh; width: 100%; clear: both; text-align: center;}

ul {list-style-type:none; background-color: grey; margin: 0px; padding: 0px;}

li a { display: block; text-decoration: none}

li a:hover {background-color: red;}